@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');


*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/public/img/img_carrossel/fachada.jpg);
    background-repeat: inherit;
    background-size:cover;
}

form{
    color: #762626;;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    min-height: 50%;
    padding: 20px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:aliceblue;
}

form span{
    font-family: "Seaweed Script", cursive;
}

.sessao{
    display: flex;
    padding: 10px;
    width: 100%;
}

.btn{
    width: 50%;
    font-weight: 500;
}

.btn:hover{
    transition: all 100ms ease-in;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sessao input{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    border: #76262663 solid 0.5px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.sair{
    background-color:#762626;
    color: aliceblue;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    height: 56px;
}

footer{
    color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content:right;
    align-items: center;
}