@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');


*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #762626 ;
    color: aliceblue;
    padding: 20px;
    width: 100%;
}

.minhasReservas a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    width: 50%;
}

.minhasReservas h5:hover{
    transition: all 100ms ease-in;
    transform: scale(1.05);
    border-bottom: solid 1px aliceblue;
    border-bottom: 1px solid aliceblue;
}

.navbar{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    width: 100%;
    justify-content: space-between;
}

.funcoes{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.tema {
    height: 40px;
    width: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.tema img {
    height: 100%;
    width: 100%;
}

.darkMode{
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
}


.titulo a{
    display: flex;
    gap: 10px;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;

}

.titulo span{
    font-family: "Seaweed Script", cursive;
}


footer{
    background-color: #762626;
    color: aliceblue;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

