*{
  margin: 0px;
}
main{
  padding: 10px;
}

.modal-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.seaweed-script-regular {
    font-family: "Seaweed Script", cursive;
    font-weight: 580;
    font-style: normal;
    color: aliceblue;
    font-size: 40px;
}

.form-control{
    border-radius: 15px;
}

  .card{
    border-radius: 15px;
  }

.card-img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

button text{
    font-size:large;
}

.card button{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card h5{
  margin: 0px;
}


h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.icon {
    width: 20px; 
    height: 20px; 
  }
  
  .icon-button {
    padding: 2px; 
    border: none; 
    background: none; 
  }

  .cancelar{
    background-color:#762626;
    border-color: #762626;
    border-radius: 15px;
  } 

.btn-cadastro{
  background-color:#34a359;
  border-color: #34a359;
  border-radius: 15px;
}

#churrasqueira{
  width: 100%;
}

a{
  width: 98%;
  text-decoration: none;
  color: aliceblue;
}

.card ul {
  gap: 10px;
  display: flex;
  padding: 15px;
}

.cards{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.modalCancelaReserva ul{
  gap: 15px;
}

.modalCancelaReserva{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalCancelaReserva .acoes{
  display: flex;
  justify-content: space-between;
}

.sair{
  background-color: #959e98;
  border-radius: 15px;
  display: flex;
  align-items: center;
}