.seaweed-script-regular {
    font-family: "Seaweed Script", cursive;
    font-weight: 580;
    font-style: normal;
    color: aliceblue;
    font-size: 40px;
}

.navbar{
    background-color: #a12f2f;
}
.bosch{
    color: aliceblue;
    font-weight: 700;
    font-size: 40px;
}

button text{
    font-size:large;
}

/* body{
    background-image: url(../img/churrasco.jpg);
    background-repeat: no-repeat;
    background-size:cover;
} */

footer{
    background-color: #762626;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
  }
  
  .icon-button {
    padding: 2px; 
    border: none; 
    background: none; 
  }