.seaweed-script-regular {
    font-family: "Seaweed Script", cursive;
    font-weight: 580;
    font-style: normal;
    color: aliceblue;
    font-size: 40px;
}

.navbar{
    background-color: #a12f2f;
}

.bosch{
    color: aliceblue;
    font-weight: 700;
    font-size: 35px;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}


footer{
    display: flex;
    background-color: #762626;
    color: white;
    padding: 20px;
    justify-content: space-around;
}

.card{
    width: 25rem; 
    height: 50vh;
    border-radius: 20px;
}

.card-img-top{
    border-radius: 20px;
}

.btn{
    background-color:#762626;
    border-color: #762626;
    border-radius: 15px;
}
